In [2]:
import pandas as pd

In [3]:
bank = pd.read_csv('bank3.csv')

In [5]:
bank.drop(["A", "B", "C", "D", "E"], axis=1, inplace=True)
bank.drop(["CHQ.NO."], axis=1, inplace=True)

In [6]:
bank

,Account No,DATE,TRANSACTION DETAILS,VALUE DATE,WITHDRAWAL AMT,DEPOSIT AMT,BALANCE AMT
0,409000611074,2017-06-29,TRF FROM Indiaforensic SERVICES,2017-06-29,NaN,1000000.0,1.000000e+06
1,409000611074,2017-07-05,TRF FROM Indiaforensic SERVICES,2017-07-05,NaN,1000000.0,2.000000e+06
2,409000611074,2017-07-18,FDRL/INTERNAL FUND TRANSFE,2017-07-18,NaN,500000.0,2.500000e+06
3,409000611074,2017-08-01,TRF FRM Indiaforensic SERVICES,2017-08-01,NaN,3000000.0,5.500000e+06
4,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,6.000000e+06
5,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,6.500000e+06
6,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,7.000000e+06
7,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,7.500000e+06
8,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,8.000000e+06
9,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,8.500000e+06
10,409000611074,2017-08-16,INDO GIBL Indiaforensic STL01071,2017-08-16,133900.00,NaN,8.366100e+06
11,409000611074,2017-08-16,INDO GIBL Indiaforensic STL02071,2017-08-16,18000.00,NaN,8.348100e+06
12,409000611074,2017-08-16,INDO GIBL Indiaforensic STL03071,2017-08-16,5000.00,NaN,8.343100e+06
13,409000611074,2017-08-16,INDO GIBL Indiaforensic STL04071,2017-08-16,195800.00,NaN,8.147300e+06
14,409000611074,2017-08-16,INDO GIBL Indiaforensic STL05071,2017-08-16,81600.00,NaN,8.065700e+06
15,409000611074,2017-08-16,INDO GIBL Indiaforensic STL06071,2017-08-16,41800.00,NaN,8.023900e+06
16,409000611074,2017-08-16,INDO GIBL Indiaforensic STL07071,2017-08-16,98500.00,NaN,7.925400e+06
17,409000611074,2017-08-16,INDO GIBL Indiaforensic STL10071,2017-08-16,143800.00,NaN,7.781600e+06
18,409000611074,2017-08-16,INDO GIBL Indiaforensic STL11071,2017-08-16,331650.00,NaN,7.449950e+06
19,409000611074,2017-08-16,INDO GIBL Indiaforensic STL12071,2017-08-16,129000.00,NaN,7.320950e+06
20,409000611074,2017-08-16,INDO GIBL Indiaforensic STL13071,2017-08-16,230013.00,NaN,7.090937e+06
21,409000611074,2017-08-16,INDO GIBL Indiaforensic STL14071,2017-08-16,367900.00,NaN,6.723037e+06
22,409000611074,2017-08-16,INDO GIBL Indiaforensic STL15071,2017-08-16,108000.00,NaN,6.615037e+06
23,409000611074,2017-08-16,INDO GIBL Indiaforensic STL16071,2017-08-16,64800.00,NaN,6.550237e+06
24,409000611074,2017-08-16,INDO GIBL Indiaforensic STL17071,2017-08-16,141000.00,NaN,6.409237e+06
25,409000611074,2017-08-16,INDO GIBL Indiaforensic STL18071,2017-08-16,61750.00,NaN,6.347487e+06
26,409000611074,2017-08-16,INDO GIBL Indiaforensic STL19071,2017-08-16,67920.00,NaN,6.279567e+06
27,409000611074,2017-08-16,INDO GIBL Indiaforensic STL20071,2017-08-16,78100.00,NaN,6.201467e+06
28,409000611074,2017-08-16,INDO GIBL Indiaforensic STL21071,2017-08-16,35650.00,NaN,6.165817e+06
29,409000611074,2017-08-16,INDO GIBL Indiaforensic STL22071,2017-08-16,206000.00,NaN,5.959817e+06
...,...,...,...,...,...,...,...
116171,409000362497,2019-03-02,Sweep Trf To: 40900036427,2019-03-02,4000.00,NaN,-1.900463e+09
116172,409000362497,2019-03-04,IMPS 0203191C,2019-03-04,8902.39,NaN,-1.900472e+09
116173,409000362497,2019-03-04,IMPS 0303191C,2019-03-04,67752.22,NaN,-1.900540e+09
116174,409000362497,2019-03-04,IMPS 040320192C,2019-03-04,431613.76,NaN,-1.900971e+09
116175,409000362497,2019-03-04,IMPS 040320193C,2019-03-04,348262.41,NaN,-1.901320e+09
116176,409000362497,2019-03-04,FDRL/INTERNAL FUND TRANSFE,2019-03-04,NaN,1000000.0,-1.900320e+09
116177,409000362497,2019-03-04,FDRL/INTERNAL FUND TRANSFE,2019-03-04,NaN,300000.0,-1.900020e+09
116178,409000362497,2019-03-04,NEFT/SBIN619063713746/Indfor,2019-03-04,NaN,1200000.0,-1.898820e+09
116179,409000362497,2019-03-04,IMPS 040320194C,2019-03-04,83802.03,NaN,-1.898904e+09
116180,409000362497,2019-03-04,Sweep Trf To: 40900036427,2019-03-04,8000.00,NaN,-1.898912e+09
116181,409000362497,2019-03-05,IMPS 0403191C,2019-03-05,20185.23,NaN,-1.898932e+09
116182,409000362497,2019-03-05,IMPS 050320192C,2019-03-05,548690.97,NaN,-1.899480e+09
116183,409000362497,2019-03-05,IMPS 050320193C,2019-03-05,425622.38,NaN,-1.899906e+09
116184,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,1000000.0,-1.898906e+09
116185,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,1000000.0,-1.897906e+09
116186,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,1000000.0,-1.896906e+09
116187,409000362497,2019-03-05,NEFT/000069177649/INDIAID,2019-03-05,6599.00,NaN,-1.896913e+09
116188,409000362497,2019-03-05,NEFT/000069177816/PAYU PA,2019-03-05,37251.00,NaN,-1.896950e+09
116189,409000362497,2019-03-05,NEFT/000069177962/FUTURE,2019-03-05,2829.00,NaN,-1.896953e+09
116190,409000362497,2019-03-05,NEFT/000069178285/PASFAR,2019-03-05,98.00,NaN,-1.896953e+09
116191,409000362497,2019-03-05,NEFT/000069178432/MEHAR E,2019-03-05,230.00,NaN,-1.896953e+09
116192,409000362497,2019-03-05,NEFT/000069178587/INDIAN,2019-03-05,816832.00,NaN,-1.897770e+09
116193,409000362497,2019-03-05,NEFT/000069178631/INDIAN,2019-03-05,1699952.16,NaN,-1.899470e+09
116194,409000362497,2019-03-05,NEFT/000069179261/INDIAN,2019-03-05,1095668.87,NaN,-1.900565e+09
116195,409000362497,2019-03-05,NEFT/000069179347/INDIAN,2019-03-05,1218673.00,NaN,-1.901784e+09
116196,409000362497,2019-03-05,TRF TO 1196428 Indiaforensic SE,2019-03-05,117934.30,NaN,-1.901902e+09
116197,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,300000.0,-1.901602e+09
116198,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,300000.0,-1.901302e+09
116199,409000362497,2019-03-05,IMPS 05-03-20194C,2019-03-05,109868.65,NaN,-1.901412e+09
116200,409000362497,2019-03-05,Sweep Trf To: 40900036427,2019-03-05,5000.00,NaN,-1.901417e+09

In [8]:
df_acc1 = bank[bank["Account No"] == 409000611074]

In [10]:
df_acc1.shape

(1093, 7)

In [17]:
from fuzzywuzzy import fuzz

df_acc1 = bank[bank["Account No"] == 409000611074]

def seq_match(df_temp, trans_details):
    
    df_temp.reset_index(inplace=True)
#     df_res = pd.DataFrame()
    df_res = []
    for i, (x, y) in enumerate(df_temp.iterrows()):
        if fuzz.ratio(trans_details, df_temp.loc[i, "TRANSACTION DETAILS"]) > 30:
            df_res.append(df_temp.loc[i]) 
#             print(i)
#         if fuzz.ratio(trans_details, df_temp.loc[i, "TRANSACTION DETAILS"]) > 45:
#             df
    
    return pd.DataFrame(df_res) 

trans_details = "TRF FROM Indiaforensic SERVICES"

res = seq_match(df_acc1, trans_details)
# res.reset_index(inplace=True)
print(res)

      index    Account No        DATE               TRANSACTION DETAILS  \
0         0  409000611074  2017-06-29  TRF FROM  Indiaforensic SERVICES
1         1  409000611074  2017-07-05  TRF FROM  Indiaforensic SERVICES
3         3  409000611074  2017-08-01   TRF FRM  Indiaforensic SERVICES
10       10  409000611074  2017-08-16  INDO GIBL Indiaforensic STL01071
11       11  409000611074  2017-08-16  INDO GIBL Indiaforensic STL02071
12       12  409000611074  2017-08-16  INDO GIBL Indiaforensic STL03071
13       13  409000611074  2017-08-16  INDO GIBL Indiaforensic STL04071
14       14  409000611074  2017-08-16  INDO GIBL Indiaforensic STL05071
15       15  409000611074  2017-08-16  INDO GIBL Indiaforensic STL06071
16       16  409000611074  2017-08-16  INDO GIBL Indiaforensic STL07071
17       17  409000611074  2017-08-16  INDO GIBL Indiaforensic STL10071
18       18  409000611074  2017-08-16  INDO GIBL Indiaforensic STL11071
19       19  409000611074  2017-08-16  INDO GIBL Indiaforensic STL12071
20       20  409000611074  2017-08-16  INDO GIBL Indiaforensic STL13071
21       21  409000611074  2017-08-16  INDO GIBL Indiaforensic STL14071
22       22  409000611074  2017-08-16  INDO GIBL Indiaforensic STL15071
23       23  409000611074  2017-08-16  INDO GIBL Indiaforensic STL16071
24       24  409000611074  2017-08-16  INDO GIBL Indiaforensic STL17071
25       25  409000611074  2017-08-16  INDO GIBL Indiaforensic STL18071
26       26  409000611074  2017-08-16  INDO GIBL Indiaforensic STL19071
27       27  409000611074  2017-08-16  INDO GIBL Indiaforensic STL20071
28       28  409000611074  2017-08-16  INDO GIBL Indiaforensic STL21071
29       29  409000611074  2017-08-16  INDO GIBL Indiaforensic STL22071
30       30  409000611074  2017-08-16  INDO GIBL Indiaforensic STL24071
31       31  409000611074  2017-08-16  INDO GIBL Indiaforensic STL25071
32       32  409000611074  2017-08-16  INDO GIBL Indiaforensic STL26071
33       33  409000611074  2017-08-16  INDO GIBL Indiaforensic STL27071
34       34  409000611074  2017-08-16  INDO GIBL Indiaforensic STL28071
35       35  409000611074  2017-08-16  INDO GIBL Indiaforensic STL30071
36       36  409000611074  2017-08-16  INDO GIBL Indiaforensic STL31071
...     ...           ...         ...                               ...
1050   1050  409000611074  2019-01-17      Indfor INCOME INDO REMI16011
1051   1051  409000611074  2019-01-17  INDO GIBL Indiaforensic STL16011
1053   1053  409000611074  2019-01-18      Indfor INCOME INDO REMI17011
1054   1054  409000611074  2019-01-18  INDO GIBL Indiaforensic STL17011
1056   1056  409000611074  2019-01-19      Indfor INCOME INDO REMI18011
1057   1057  409000611074  2019-01-19  INDO GIBL Indiaforensic STL18011
1060   1060  409000611074  2019-01-21      Indfor INCOME INDO REMI19011
1061   1061  409000611074  2019-01-21  INDO GIBL Indiaforensic STL19011
1062   1062  409000611074  2019-01-21      Indfor INCOME INDO REMI20011
1063   1063  409000611074  2019-01-21  INDO GIBL Indiaforensic STL20011
1065   1065  409000611074  2019-01-22      Indfor INCOME INDO REMI21011
1066   1066  409000611074  2019-01-22  INDO GIBL Indiaforensic STL21011
1068   1068  409000611074  2019-01-23      Indfor INCOME INDO REMI22011
1069   1069  409000611074  2019-01-23  INDO GIBL Indiaforensic STL22011
1071   1071  409000611074  2019-01-24      Indfor INCOME INDO REMI23011
1072   1072  409000611074  2019-01-24  INDO GIBL Indiaforensic STL23011
1074   1074  409000611074  2019-01-25      Indfor INCOME INDO REMI24011
1075   1075  409000611074  2019-01-25  INDO GIBL Indiaforensic STL24011
1077   1077  409000611074  2019-01-28      Indfor INCOME INDO REMI25011
1078   1078  409000611074  2019-01-28  INDO GIBL Indiaforensic STL25011
1079   1079  409000611074  2019-01-28      Indfor INCOME INDO REMI26011
1080   1080  409000611074  2019-01-28  INDO GIBL Indiaforensic STL26011
1082   1082  409000611074  2019-01-29      Indfor INCOME INDO REMI28011
1083   1083  409000611074  2019-01-29  INDO GIBL Indiaforensic STL28011
1085   1085  409000611074  2019-01-30      Indfor INCOME INDO REMI29011
1086   1086  409000611074  2019-01-30  INDO GIBL Indiaforensic STL29011
1087   1087  409000611074  2019-01-31      Indfor INCOME INDO REMI30011
1088   1088  409000611074  2019-01-31  INDO GIBL Indiaforensic STL30011
1090   1090  409000611074  2019-02-01      Indfor INCOME INDO REMI31011
1091   1091  409000611074  2019-02-01  INDO GIBL Indiaforensic STL31011

      VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT  BALANCE AMT
0     2017-06-29             NaN    1000000.0    1000000.0
1     2017-07-05             NaN    1000000.0    2000000.0
3     2017-08-01             NaN    3000000.0    5500000.0
10    2017-08-16        133900.0          NaN    8366100.0
11    2017-08-16         18000.0          NaN    8348100.0
12    2017-08-16          5000.0          NaN    8343100.0
13    2017-08-16        195800.0          NaN    8147300.0
14    2017-08-16         81600.0          NaN    8065700.0
15    2017-08-16         41800.0          NaN    8023900.0
16    2017-08-16         98500.0          NaN    7925400.0
17    2017-08-16        143800.0          NaN    7781600.0
18    2017-08-16        331650.0          NaN    7449950.0
19    2017-08-16        129000.0          NaN    7320950.0
20    2017-08-16        230013.0          NaN    7090937.0
21    2017-08-16        367900.0          NaN    6723037.0
22    2017-08-16        108000.0          NaN    6615037.0
23    2017-08-16         64800.0          NaN    6550237.0
24    2017-08-16        141000.0          NaN    6409237.0
25    2017-08-16         61750.0          NaN    6347487.0
26    2017-08-16         67920.0          NaN    6279567.0
27    2017-08-16         78100.0          NaN    6201467.0
28    2017-08-16         35650.0          NaN    6165817.0
29    2017-08-16        206000.0          NaN    5959817.0
30    2017-08-16         35300.0          NaN    5924517.0
31    2017-08-16         49800.0          NaN    5874717.0
32    2017-08-16         53000.0          NaN    5821717.0
33    2017-08-16         91300.0          NaN    5730417.0
34    2017-08-16         57499.0          NaN    5672918.0
35    2017-08-16         20000.0          NaN    5652918.0
36    2017-08-16         19400.0          NaN    5633518.0
...          ...             ...          ...          ...
1050  2019-01-17          3000.0          NaN    1457719.0
1051  2019-01-17        446201.0          NaN    1011518.0
1053  2019-01-18          3600.0          NaN    1407918.0
1054  2019-01-18        628628.0          NaN     779290.0
1056  2019-01-19          1440.0          NaN    1277850.0
1057  2019-01-19        229800.0          NaN    1048050.0
1060  2019-01-21           960.0          NaN    1647090.0
1061  2019-01-21         98900.0          NaN    1548190.0
1062  2019-01-21           480.0          NaN    1547710.0
1063  2019-01-21         96200.0          NaN    1451510.0
1065  2019-01-22          4080.0          NaN    1747430.0
1066  2019-01-22        602930.0          NaN    1144500.0
1068  2019-01-23          3720.0          NaN    1540780.0
1069  2019-01-23        589137.0          NaN     951643.0
1071  2019-01-24          2880.0          NaN    1448763.0
1072  2019-01-24        388327.0          NaN    1060436.0
1074  2019-01-25          2040.0          NaN    1558396.0
1075  2019-01-25        245413.0          NaN    1312983.0
1077  2019-01-28          1920.0          NaN    1611063.0
1078  2019-01-28        466124.0          NaN    1144939.0
1079  2019-01-28           360.0          NaN    1144579.0
1080  2019-01-28         17500.0          NaN    1127079.0
1082  2019-01-29          2520.0          NaN    1524559.0
1083  2019-01-29        299125.0          NaN    1225434.0
1085  2019-01-30          3360.0          NaN    1522074.0
1086  2019-01-30        401052.0          NaN    1121022.0
1087  2019-01-31          1200.0          NaN    1119822.0
1088  2019-01-31        224051.0          NaN     895771.0
1090  2019-02-01           720.0          NaN    1195051.0
1091  2019-02-01        132851.0          NaN    1062200.0

[779 rows x 8 columns]

In [53]:
# for x in res['TRANSACTION DETAILS']:
#     print(x)

account_list = bank["Account No"].unique()
print(account_list)
df_acc1 = bank[bank["Account No"] == 409000425051]
df_acc1.reset_index(inplace=True)

[409000611074 409000493201 409000425051 409000405747 409000438611
 409000493210 409000438620      1196711      1196428 409000362497]

In [45]:
print(df_acc1)

     index    Account No        DATE               TRANSACTION DETAILS  \
0     2137  409000425051  2016-02-23          NEFT/SBIN316054519453/Mr
1     2138  409000425051  2016-02-23          NEFT/SBIN316054795331/Mr
2     2139  409000425051  2016-02-29         NEFT/SD1279001248/DHARAMB
3     2140  409000425051  2016-03-02         NEFT/SBIN116062424445/DEE
4     2141  409000425051  2016-03-30         NEFT/MAHBH16090571628/M/s
5     2142  409000425051  2016-04-06         NEFT/SD1290309312/VIDYART
6     2143  409000425051  2016-04-07         NEFT/BARBH16098696964/MOT
7     2144  409000425051  2016-04-08          NEFT/SAA33261155/SANJEET
8     2145  409000425051  2016-04-13         NEFT/BKIDN16104834588/KAV
9     2146  409000425051  2016-04-16         NEFT/CBINH16107289293/M S
10    2147  409000425051  2016-04-20         NEFT/BKIDN16111600591/KRI
11    2148  409000425051  2016-04-21         NEFT/STBP916112924171/UNI
12    2149  409000425051  2016-04-25         NEFT/SD1293975857/JAI RAM
13    2150  409000425051  2016-04-25         NEFT/SBIN116116210635/PAD
14    2151  409000425051  2016-05-05         NEFT/BKIDN16126554823/NAS
15    2152  409000425051  2016-05-06         NEFT/SBIN216127966232/RAV
16    2153  409000425051  2016-05-11         NEFT/CBINH16132151302/Mr.
17    2154  409000425051  2016-05-12         NEFT/IBKL160512086896/SUN
18    2155  409000425051  2016-05-12         NEFT/SBIN716133295639/PRA
19    2156  409000425051  2016-05-13         NEFT/SBIN816134053552/KAS
20    2157  409000425051  2016-05-13          NEFT/SBIN816134469009/Mr
21    2158  409000425051  2016-05-16                      613713337971
22    2159  409000425051  2016-05-16                      613713338611
23    2160  409000425051  2016-05-16                      613713339113
24    2161  409000425051  2016-05-16                      613713339816
25    2162  409000425051  2016-05-16         NEFT/SFB52108866/SUMAN EN
26    2163  409000425051  2016-05-17                      613812435955
27    2164  409000425051  2016-05-17         NEFT/CBINH16138124492/Mr.
28    2165  409000425051  2016-05-19         NEFT/CBINH16140123873/Mr.
29    2166  409000425051  2016-05-20         NEFT/BKIDN16141481959/KRI
..     ...           ...         ...                               ...
772   2909  409000425051  2017-06-12  Indiaforensic SERVICES I P LTD P
773   2910  409000425051  2017-06-12  Indiaforensic SERVICES INDIA PVT
774   2911  409000425051  2017-06-12  Indiaforensic SERVICES I P LTD R
775   2912  409000425051  2017-06-12  Indiaforensic SERVICES I P LTD R
776   2913  409000425051  2017-06-14  Indiaforensic SERVICES INDIA PVT
777   2914  409000425051  2017-06-14  Indiaforensic SERVICES INDIA PVT
778   2915  409000425051  2017-06-14  Indiaforensic SERVICES INDIA PVT
779   2916  409000425051  2017-06-29                COMMISSION CHARGES
780   2917  409000425051  2017-06-29                       SERVICE TAX
781   2918  409000425051  2017-06-29                SWACHH BHARAT CESS
782   2919  409000425051  2017-06-29                KRISHI KALYAN CESS
783   2920  409000425051  2017-07-06  TRF TO  Indiaforensic ONLINE SER
784   2921  409000425051  2017-07-26                      720717634445
785   2922  409000425051  2018-04-07         IMPS 809712134438 FROM OX
786   2923  409000425051  2018-07-12  TRF TO  Indiaforensic SERVICES I
787   2924  409000425051  2018-10-26             TRF TO Rajendra Kumar
788   2925  409000425051  2018-10-26  TRF FROM  Indiaforensic SERVICES
789   2926  409000425051  2018-10-31                TRF TO  Myur Joshi
790   2927  409000425051  2018-10-31  TRF TO  Indiaforensic SERVICES I
791   2928  409000425051  2018-10-31         409000425051:Int.Coll:01-
792   2929  409000425051  2018-11-27  TRF FROM  Indiaforensic SERVICES
793   2930  409000425051  2018-11-27  TRF FROM  Indiaforensic SERVICES
794   2931  409000425051  2018-11-30         409000425051:Int.Coll:01-
795   2932  409000425051  2018-12-17   TRF FRM  Indiaforensic SERVICES
796   2933  409000425051  2018-12-31         409000425051:Int.Coll:01-
797   2934  409000425051  2019-01-10  TRF FROM  Indiaforensic SERVICES
798   2935  409000425051  2019-01-11  TRF FROM  Indiaforensic SERVICES
799   2936  409000425051  2019-01-31         409000425051:Int.Coll:01-
800   2937  409000425051  2019-02-28         409000425051:Int.Coll:01-
801   2938  409000425051  2019-03-02        FDRL/INTERNAL FUND TRANSFE

     VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0    2016-02-23             NaN     21000.00  7.645833e+05
1    2016-02-23             NaN      1000.00  7.655833e+05
2    2016-02-29             NaN     21000.00  7.865833e+05
3    2016-03-02             NaN     21000.00  8.075833e+05
4    2016-03-30             NaN     20000.00  8.275833e+05
5    2016-04-06             NaN      1000.00  8.285833e+05
6    2016-04-07             NaN      1000.00  8.295833e+05
7    2016-04-08             NaN      1000.00  8.305833e+05
8    2016-04-13             NaN     21000.00  8.515833e+05
9    2016-04-16             NaN      1000.00  8.525833e+05
10   2016-04-20             NaN      1000.00  8.535833e+05
11   2016-04-21             NaN      1000.00  8.545833e+05
12   2016-04-25             NaN      1000.00  8.555833e+05
13   2016-04-25             NaN     21000.00  8.765833e+05
14   2016-05-05             NaN     21000.00  8.975833e+05
15   2016-05-06             NaN     20994.28  9.185776e+05
16   2016-05-11             NaN      1000.00  9.195776e+05
17   2016-05-12             NaN     21000.00  9.405776e+05
18   2016-05-12             NaN      1000.00  9.415776e+05
19   2016-05-13             NaN      1000.00  9.425776e+05
20   2016-05-13             NaN     21000.00  9.635776e+05
21   2016-05-16             NaN      5000.00  9.685776e+05
22   2016-05-16             NaN      5000.00  9.735776e+05
23   2016-05-16             NaN      5000.00  9.785776e+05
24   2016-05-16             NaN      5000.00  9.835776e+05
25   2016-05-16             NaN     21000.00  1.004578e+06
26   2016-05-17             NaN      1000.00  1.005578e+06
27   2016-05-17             NaN     20000.00  1.025578e+06
28   2016-05-19             NaN     20000.00  1.045578e+06
29   2016-05-20             NaN     20000.00  1.065578e+06
..          ...             ...          ...           ...
772  2017-06-12    2.000000e+02          NaN  6.006878e+05
773  2017-06-12    2.000000e+02          NaN  6.004878e+05
774  2017-06-12    2.000000e+02          NaN  6.002878e+05
775  2017-06-12    2.000000e+02          NaN  6.000878e+05
776  2017-06-14    2.000000e+02          NaN  5.998878e+05
777  2017-06-14    2.000000e+02          NaN  5.996878e+05
778  2017-06-14    2.000000e+02          NaN  5.994878e+05
779  2017-06-29    2.500000e+02          NaN  5.992378e+05
780  2017-06-29    3.500000e+01          NaN  5.992028e+05
781  2017-06-29    1.250000e+00          NaN  5.992016e+05
782  2017-06-29    1.250000e+00          NaN  5.992003e+05
783  2017-07-06    1.000000e+05          NaN  4.992003e+05
784  2017-07-26             NaN     50000.00  5.492003e+05
785  2018-04-07             NaN     10000.00  5.592003e+05
786  2018-07-12    1.000000e+05          NaN  4.592003e+05
787  2018-10-26    1.500000e+07          NaN -1.454080e+07
788  2018-10-26             NaN  15000000.00  4.592003e+05
789  2018-10-31    3.540000e+08          NaN -3.535408e+08
790  2018-10-31    9.000000e+05          NaN -3.544408e+08
791  2018-10-31    8.156900e+04          NaN -3.545224e+08
792  2018-11-27             NaN     81568.00 -3.544408e+08
793  2018-11-27             NaN     10000.00 -3.544308e+08
794  2018-11-30    2.447599e+06          NaN -3.568784e+08
795  2018-12-17             NaN   2447600.00 -3.544308e+08
796  2018-12-31    2.539665e+06          NaN -3.569705e+08
797  2019-01-10             NaN   1539665.00 -3.554308e+08
798  2019-01-11             NaN   1000000.00 -3.544308e+08
799  2019-01-31    2.535326e+06          NaN -3.569661e+08
800  2019-02-28    2.303989e+06          NaN -3.592701e+08
801  2019-03-02             NaN   2535326.00 -3.567348e+08

[802 rows x 8 columns]

In [37]:
def subsetsum(array, num):

    if num == 0 or num < 1:
        return []
    elif len(array) == 0:
        return []
    else:
        if array[0] == num:
            return [array[0]]
        else:
            with_v = subsetsum(array[1:],(num - array[0])) 
            if with_v:
                return [array[0]] + with_v
            else:
                return subsetsum(array[1:],num)

In [54]:
#### Subset - Withdrawal Amount, Sum - Deposit Amount
# bank_acc1 = bank[bank["Account No"] == 409000611074]
ctr = 0
for i, (x, y) in enumerate(df_acc1.iterrows()):
#     print(df2.loc[i, "Account No"])
    if df_acc1.loc[i, "DEPOSIT AMT"] >= 0:
#         print(i)
        acc_no, date, deposit_amt, trans_details = df_acc1.loc[i, "Account No"], df_acc1.loc[i, "DATE"], df_acc1.loc[i, "DEPOSIT AMT"], df_acc1.loc[i, "TRANSACTION DETAILS"]
        
        df_temp =\
            df_acc1[(df_acc1["Account No"] == acc_no) & (df_acc1["DATE"] == date) & (df_acc1["WITHDRAWAL AMT"] >= 0)]
#         df_temp =\
#             df_acc1[(df_acc1["DATE"] == date) & (df_acc1["WITHDRAWAL AMT"] >= 0)]
    
        df_temp_res = seq_match(df_temp, trans_details)
        
#         if not df_temp_res.empty:
# #             print(f"Index - {i}")
#             print("xxxxxxxxxxxxxxxxxxxxxx")
# #             print(f"Row : {df_acc1.loc[i]}")            
#             print(df_temp_res)            
#             print("xxxxxxxxxxxxxxxxxxxxxx")
    
        if not df_temp_res.empty:
#             print(f"Index - {i}")
#             print("xxxxxxxxxxxxxxxxxxxxxx")
            withdrawal_amt = list(df_temp_res["WITHDRAWAL AMT"])
            subset =  subsetsum(withdrawal_amt, deposit_amt)
            if len(subset) > 0:
                print(f"Deposit Amount {deposit_amt}")
                print(f"Date {date}")
                print(f"Transaction Details {trans_details}")
                
                print(df_temp_res)
#                 print(subset)
#             print(f"Deposit amt : {deposit_amt}")
#             print(f"Row : {df_acc1.loc[i]}")            
#             print(df_temp_res) 
            ctr += 1
#             print("xxxxxxxxxxxxxxxxxxxxxx")

Deposit Amount 15000000.0
Date 2018-10-26
Transaction Details TRF FROM  Indiaforensic SERVICES
   level_0  index    Account No        DATE    TRANSACTION DETAILS  \
0      787   2924  409000425051  2018-10-26  TRF TO Rajendra Kumar

   VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT  BALANCE AMT
0  2018-10-26      15000000.0          NaN -14540799.65

In [52]:
#### Subset - Deposit Amount, Sum -  Withdrawal Amount
ctr = 0
for i, (x, y) in enumerate(df_acc1.iterrows()):
#     print(df2.loc[i, "Account No"])
    if df_acc1.loc[i, "WITHDRAWAL AMT"] >= 0:
#         print(i)
        acc_no, date, withdrawal_amt, trans_details = df_acc1.loc[i, "Account No"], df_acc1.loc[i, "DATE"], df_acc1.loc[i, "WITHDRAWAL AMT"], df_acc1.loc[i, "TRANSACTION DETAILS"]
        
        df_temp =\
            df_acc1[(df_acc1["Account No"] == acc_no) & (df_acc1["DATE"] == date) & (df_acc1["DEPOSIT AMT"] >= 0)]
#         df_temp =\
#             df_acc1[(df_acc1["DATE"] == date) & (df_acc1["WITHDRAWAL AMT"] >= 0)]
    
        df_temp_res = seq_match(df_temp, trans_details)
        
#         if not df_temp_res.empty:
# #             print(f"Index - {i}")
#             print("xxxxxxxxxxxxxxxxxxxxxx")
# #             print(f"Row : {df_acc1.loc[i]}")            
#             print(df_temp_res)            
#             print("xxxxxxxxxxxxxxxxxxxxxx")
    
        if not df_temp_res.empty:
#             print(f"Index - {i}")
#             print("xxxxxxxxxxxxxxxxxxxxxx")
            depositamt = list(df_temp_res["DEPOSIT AMT"])
            subset =  subsetsum(depositamt, withdrawal_amt)
            if len(subset) > 0:
                print(subset)
#             print(f"Deposit amt : {deposit_amt}")
#             print(f"Row : {df_acc1.loc[i]}")            
#             print(df_temp_res) 
            ctr += 1
#             print("xxxxxxxxxxxxxxxxxxxxxx")

[409000611074 409000493201 409000425051 409000405747 409000438611
 409000493210 409000438620      1196711      1196428 409000362497]

In [17]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [29]:
similar(bank.loc[116172]["TRANSACTION DETAILS"], bank.loc[116174]["TRANSACTION DETAILS"])

0.7857142857142857

In [31]:
from fuzzywuzzy import fuzz

print(fuzz.ratio(bank.loc[116172]["TRANSACTION DETAILS"], bank.loc[116174]["TRANSACTION DETAILS"]))

79